<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Optic Algo</a>
    </div>
    <ul class="nav navbar-nav">
      <li id="home" class="li-item"><a href="/">Home</a></li>
      <li id="linkedlist" class="li-item">
        <a href="/linkedlist">Linked List</a>
      </li>
      <li id="dijkstra" class="li-item"><a href="/newdijkstra">Graphs</a></li>
      <li id="bstinsertion" class="li-item">
        <a href="/BST-Insertion">Trees</a>
      </li>
    </ul>
  </div>
</nav>
